
      body { background-color: #ffe44f;} /*changes background color of body*/
      p{background-color: #ffb5c1; /*changes background color of paragraphs*/
      color: #128f32;} /*changes txt color of paragraphs*/

#skyblue { background-color:#ADD8E6;
          color: #5D0F0D;}
